@import './base/index.scss';
@import './utilities/index.scss';
@import './components/index.scss';
@import './layout/index.scss';

.main {
  min-height: 100vh;
  display: flex;
  place-content: center;
  place-items: center;
}
.container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  max-width: 100vw;
  padding: 0 16px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
