@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

/* VARIABLES */
:root {
  --color-primary: #343434;
  --color-secondary: blue;
  --color-tertiary: green;
  --color-success: green;
  --color-warning: green;
  --white: #fff;
  --dark: #444;
  --bg-white: #fafafa;
  --gray: #f2f2f2;
}

// MEDIAQUERIES
$mediaqueries: (
  hover: '(hover: hover)',
  ie: 'screen and (-ms-high-contrast: active), (-ms-high-contrast: none)',
  safari: 'screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)',
  safari2: 'not all and (min-resolution:.001dpcm)',
  safari5:
    'only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2)',
  safari6s:
    'only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)',
  safari6p:
    'only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3)',
  safariX:
    'only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3)',
  mobS4: 320,
  mobS3: 360,
  mobS2: 480,
  mobS: 640,
  mob: 767,
  tabS: 820,
  tab: 991,
  lapS3: 1024,
  lapS2: 1199,
  lapS: 1280,
  lap: 1367,
  deskS: 1440,
  desk: 1560,
  deskB: 1680,
);
// Colors

// Global Font
$fontFamily: 'Montserrat', sans-serif;
$baseFont: 16;
